# Chapter 4 - Organizing Data

## 4.1 The structure of data 

Data can come to us in many forms. If you collect data yourself, you may start out with numbers written on scraps of paper. Or you may get a computer file filled with numbers and words of various sorts, representing many variables at once. 

So far we have worked with one variable at a time, which is easy to visualize and understand simply by printing its vector. However, most real-world data has many variables stored at once. To manage this, it is necessary to organize and format data so that they are easy to analyze using statistical software. There is no one way to organize data, but there is a way that is most common, and that is what we recommend you use.

This common way is called a **dataframe**. Under this framework, data are stored into rectangular tables, with rows and columns. What goes on each row and column follows two principles:

- Each column is a variable
- Each row is an observation (or, we have been calling it a case or an object to which a measure is attached)
- The first row contains the names of all the variables
- The data within a dataframe are from the same dataset

Rectangular tables of this sort are represented in R using new data type - conveniently, called a dataframe. The columns are the variables; this is where the results of measures are kept. The rows are the cases sampled. Each value of different variables that are on the same row belong to the same observation (e.g., the same person, zip code, habitat, etc.) Data frames provide a way to save information such as column headings (i.e., variable names) in the same table as the actual data values.

Principle 4 above simply states that the types of observations that form the rows cannot be mixed within a single table. So, for example, you wouldn’t have rows of college students intermixed with rows of cars or countries or couples. If you have a mix of observation types (e.g., students, families, countries), they each go in a different dataframe.

## 4.2 Creating a dataframe

### Combining vectors
Let's say we have two vectors, ```x1 <- c(1,2,3,4,5)``` and ```x2 <- c(18,21,20,23,20)```. We can combine these together into a dataframe using the ```data.frame()``` function.

In [1]:
x1 <- c(1,2,3,4,5)
x2 <- c(18,21,20,23,20)
data.frame(x1=x1, x2=x2)

  x1 x2
1 1  18
2 2  21
3 3  20
4 4  23
5 5  20

This function takes as arguments all the vectors you want to combine, and lines them up together as columns in the order you typed them in. This way, you imply that the second item in ```x1``` and the second item in ```x2``` belong to the same observation, since they appear on the same row in the dataframe. This function also gives the variables names; let's rewrite the code above to give ```x1``` and ```x1``` more meaningful variable names.

In [2]:
data.frame(user_id=x1, age=x2)

  user_id age
1 1       18
2 2       21
3 3       20
4 4       23
5 5       20

Using this approach, you can form a dataframe out of any set of variables - well, almost. Try out the code below, and see if you can find why it causes an error. What can we do to fix it?

In [3]:
x1 <- c(1,2,3,4,5)
x2 <- c(18,21,20,23)
data.frame(x1=x1, x2=x2)

ERROR: Error in data.frame(x1 = x1, x2 = x2): arguments imply differing number of rows: 5, 4

Since a dataframe is a rectangle, in order for vectors to be combinable, they need to be the same lengths.

### Importing existing data

The vast majority of the time in data analysis, you are not manually creating vectors and dataframes. Instead, you are importing an existing file of data. So for the rest of this chapter we're going to practice working with and understanding an example dataset from a study by Crum & Langer (2007) called [Mindset Matters](https://search.r-project.org/CRAN/refmans/Lock5Data/html/MindsetMatters.html), on how the placebo effect works with exercise. In this study, 75 hotel housekeepers were either told that their daily work accounted for all the daily exercise they need, or were told nothing. 

You may have experience opening datasets in programs like Excel with an .xlsx extension. The extension tells you what kind of file format it is - .xlsx, for example, is an excel file. There are many file formats data can be saved in that are more or less easy to open in various software. Our Mindset Matters data is saved as a .csv, meaning a "comma-separated value" format, as this is really easy for computers programs to parse. If you were to open this file in a basic text editor program, you'd see rows are separated on different lines, and columns are separated by commas. In R, the ```readr``` package can understand this format and create a rectangle dataframe for us. 

```readr``` is not a default package in R - it has to be downloaded the first time you use it, and then loaded every time you start a new R session. Edit the code below to install the ```readr``` package and load it into your R environment.

In [5]:
# finish the code below to install readr
install.packages("   ")

#finish the code below to load readr
library(    )

Before we can load our data, R has to know where on your computer it is located. By default, it only looks in what is called your **working directory** - a specific folder on your computer where your code also lives. You can use the function ```getwd()``` to learn what your current working directory is.

In [1]:
getwd()

[1] "/Users/shannonburns/Desktop/Pomona/Classes/Stats"

Because this book is hosted on a website, the above code should show you the directory where these web files are stored. On your own computer, ```getwd()``` will return something different. 

We've stored the ```mindsetmatters.csv``` file in the same directory as this code, so R will be able load it if you simply use the function ```read_csv()``` from the ```readr``` package. Try it out below - the only argument you need for the function is the name of the file, in quotes.

In [4]:
read_csv("mindsetmatters.csv")

Rows: 75 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): Condition
dbl (14): Cond, Age, Wt, Wt2, BMI, BMI2, Fat, Fat2, WHR, WHR2, Syst, Syst2, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   Cond Age Wt  Wt2   BMI  BMI2 Fat  Fat2 WHR  WHR2 Syst Syst2 Diast Diast2
1  0    43  137 137.4 25.1 25.1 31.9 32.8 0.79 0.79 124  118    70    73
2  0    42  150 147.0 29.3 28.7 35.5   NA 0.81 0.81 119  112    80    68
3  0    41  124 124.8 26.9 27.0 35.1   NA 0.84 0.84 108  107    59    65
4  0    40  173 171.4 32.8 32.4 41.9 42.4 1.00 1.00 116  126    71    79
5  0    33  163 160.2 37.9 37.2 41.7   NA 0.86 0.84 113  114    73    78
6  0    24   90  91.8 16.5 16.8   NA   NA 0.73 0.73  NA   NA    78    76
7  0    46  150 149.8 27.5 27.4 36.1 37.3 0.90 0.90 119  115    75    77
8  0    21  156 154.4 25.9 25.7 36.4   NA 0.78 0.78 116  135    67    65
9  0    29  141 140.4 27.5 27.4   NA   NA 0.87 0.85 110  115    73    74
10 0    19  123 124.2 19.6 19.7 26.6   NA 0.69 0.69 113  117    75    72
11 0    41  160 156.0 25.7 25.2 36.9 38.5 0.85 0.85 103  115    70    67
12 0    33  130 133.6 23.8 24.4 34.8 35.0 0.95 1.00 102   97    56    48
13 0    44  161 161.5 33.0 33.2 40.8 41.2 0.88 0.90  NA   NA    NA    NA
14 0    48  118 118.5 21.2 21.3 26.3 25.4 0.91 0.91  NA   NA    NA    NA
15 0    38  134 136.6 23.0 23.4 28.7 29.3 0.86 0.86 130  116    76    72
16 0    42  167 168.8 28.3 28.5 38.9   NA 0.90 0.85  NA   NA    NA    NA
17 0    38  167 166.8 24.3 24.3 39.8   NA 0.85   NA 138  128    NA    74
18 0    46  164 163.8 30.1 30.0 40.2 39.0 0.81 0.83 166  155   112   105
19 0    45  182 180.0 33.8 33.5   NA 45.6 0.85 0.88 145  141    96    84
20 0    35  136 135.8 23.3 23.3 34.5 33.9 0.86 0.84 130  106    79    74
21 0    30  145 150.0 26.1 27.0 34.5 35.4 0.81 0.83 115  118    76    79
22 0    38  183 186.4 34.6 35.2 44.2 42.8   NA   NA 115  125    70    72
23 0    41  142 141.0 26.3 26.2 34.2 35.2 0.88 0.87 147  114    82    80
24 0    54  144 140.8 28.0 27.5 36.8 37.9 0.88 0.88 144  119    90    76
25 0    65  187 186.2 34.2 34.1 47.3   NA 0.89   NA 176  188   106    83
26 0    58  156 154.4 29.4 29.2 39.1 37.6 0.89 0.89 126  116    81    71
27 0    29  145 140.4 25.6 24.9 31.0 33.0 0.84 0.84 146  145    87    80
28 0    45  162 161.8 30.5 30.6 40.9   NA 0.88 0.88  NA   NA    NA    NA
29 0    57  168 168.6 28.9   NA 41.2   NA 0.91   NA  NA   NA    NA    NA
30 0    61  155 152.2 25.8 25.3 38.0   NA 0.87   NA  NA   NA    NA    NA
⋮  ⋮    ⋮   ⋮   ⋮     ⋮    ⋮    ⋮    ⋮    ⋮    ⋮    ⋮    ⋮     ⋮     ⋮
46 1    29  172 166.4 27.4 26.5 38.8 37.3 0.88 0.83 128  100   115    60
47 1    31  156 153.0 28.0 27.5 38.1 37.5 0.88 0.86 104   93    65    62
48 1    34  163 161.4 26.0 25.6 38.6   NA 0.83 0.82 115  122    63    64
49 1    26  123 119.2 23.2 22.5 24.5 24.1 0.82 0.80 113  115    74    89
50 1    37  126 121.6 26.7 25.9 28.2 27.7 0.89 0.85 112  112    69    77
51 1    28  143 136.4 25.3 24.2 31.8   NA 0.78 0.74 125  130    79    78
52 1    44  154 151.8 27.2 26.9 38.3   NA 0.85 0.82 124  127    90    95
53 1    26  131 128.6 22.6 22.1 25.3   NA 0.84   NA 104  101    59    63
54 1    29  158 157.4 25.1 25.0 34.2 36.4 0.75 0.75 115  118    68    73
55 1    47  159 155.8 27.3 26.7 39.2 40.4 0.88 0.90  NA   NA    NA    NA
56 1    27  128 127.4 23.2 23.4 28.8 29.1 0.80 0.80 206  190   131   124
57 1    42  161 157.0 29.0 28.3 39.8 39.7 0.92 0.95 134  124    83    71
58 1    39  154 149.4 26.4 25.6 38.1 36.3 0.81 0.81 139  126    84    89
59 1    27  148 146.2 24.6 24.3 31.7 32.1 0.78 0.75 125  125    67    78
60 1    NA  142 143.0   NA   NA   NA   NA   NA   NA 120  116    78    74
61 1    27  140 138.2 22.7 22.6 33.1 32.1 0.83 0.80 117  120    76    72
62 1    48  120 115.8 23.0 22.2 27.8 27.0 0.72 0.69 142  112    86    75
63 1    39  189 183.2 34.6 34.4 47.0 46.7 0.80 0.77 185  154    99   102
64 1    55  140 138.8 26.8 26.7 35.2 35.0 0.86 0.82 171  147    76    74
65 1    26  115 115.0 22.1 22.1 25.7 26.6 0.84 0.82 128  117    74    80
66 1    29  184 182.8 35.9 35.7 44.4 45.0 0.89 0.89 120  124    75    70
67 1    27  130 125.6 27.1 26.2 38.9 36.7 0.87 0.85 127  106    87    70
68 1    33  125 125.6 22.6 22.6 30.3 29.3 0.89 0.85 111   91    76    69
69 1    29  157 157.0 27.8 27.8 39.2 39.1 0.76 0.76 136  122    75    74
70 1    33  173 168.6 31.6 30.8 44.0 42.6 0.88 0.89 111  114    66    75
71 1    31  142 142.8 24.3 24.5 32.2 33.0 0.78 0.76 133  110   112    66
72 1    24  117 115.6 22.5 22.2 27.7 27.0 0.77 0.79 110  109    76    76
73 1    22  127 124.6 25.6 25.2 34.6 31.6 0.74 0.73 110  103    65    69
74 1    23  161 161.4 26.8 26.9 38.1 37.1 0.90 0.86 126  101    74    64
75 1    38  137 133.2 24.2 23.6 29.2 27.6 0.80 0.81 107  126    65    68
   Condition
1  Uninformed
2  Uninformed
3  Uninformed
4  Uninformed
5  Uninformed
6  Uninformed
7  Uninformed
8  Uninformed
9  Uninformed
10 Uninformed
11 Uninformed
12 Uninformed
13 Uninformed
14 Uninformed
15 Uninformed
16 Uninformed
17 Uninformed
18 Uninformed
19 Uninformed
20 Uninformed
21 Uninformed
22 Uninformed
23 Uninformed
24 Uninformed
25 Uninformed
26 Uninformed
27 Uninformed
28 Uninformed
29 Uninformed
30 Uninformed
⋮  ⋮
46 Informed
47 Informed
48 Informed
49 Informed
50 Informed
51 Informed
52 Informed
53 Informed
54 Informed
55 Informed
56 Informed
57 Informed
58 Informed
59 Informed
60 Informed
61 Informed
62 Informed
63 Informed
64 Informed
65 Informed
66 Informed
67 Informed
68 Informed
69 Informed
70 Informed
71 Informed
72 Informed
73 Informed
74 Informed
75 Informed

If the data lived in a different directory, for example in a folder called "datasets", you'd have to include that in the filename for R to be able to find it. I.e., ```read_csv("datasets/mindsetmatters.csv")```.

## 4.3 Looking at data

The first thing to do when opening a dataset for the first time is to understand it - what each variable is, how many data points, what the variable data types are, etc. 

After you run the code above, you should see a big print out of the whole dataframe. You might be thinking to yourself, “Wow, that’s a lot to take in!” In fact, this would be considered a small dataset! Real data can have hundreds or thousands of datapoints stored together, with hundreds or thousands of variables recorded. It can get unweildy to look at a whole dataset at once. Thus its usually best to look at a summary of the data in a dataframe, or a sampling of it. 

We can use certain functions to do this summarizing for us. But first, we have to make sure we save our dataframe so we can keep using it over and over. Remember that we have a new data type, dataframe, which means it can be saved as an object itself. In the code below, read the dataframe into an object called ```mindsetmatters```.

In [6]:
# read the dataframe into an object called mindsetmatters
mindsetmatters <- # your code here

# check the data type of this object
str(mindsetmatters)

Rows: 75 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): Condition
dbl (14): Cond, Age, Wt, Wt2, BMI, BMI2, Fat, Fat2, WHR, WHR2, Syst, Syst2, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

spec_tbl_df [75 × 15] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Cond     : num [1:75] 0 0 0 0 0 0 0 0 0 0 ...
 $ Age      : num [1:75] 43 42 41 40 33 24 46 21 29 19 ...
 $ Wt       : num [1:75] 137 150 124 173 163 90 150 156 141 123 ...
 $ Wt2      : num [1:75] 137 147 125 171 160 ...
 $ BMI      : num [1:75] 25.1 29.3 26.9 32.8 37.9 16.5 27.5 25.9 27.5 19.6 ...
 $ BMI2     : num [1:75] 25.1 28.7 27 32.4 37.2 16.8 27.4 25.7 27.4 19.7 ...
 $ Fat      : num [1:75] 31.9 35.5 35.1 41.9 41.7 NA 36.1 36.4 NA 26.6 ...
 $ Fat2     : num [1:75] 32.8 NA NA 42.4 NA NA 37.3 NA NA NA ...
 $ WHR      : num [1:75] 0.79 0.81 0.84 1 0.86 0.73 0.9 0.78 0.87 0.69 ...
 $ WHR2     : num [1:75] 0.79 0.81 0.84 1 0.84 0.73 0.9 0.78 0.85 0.69 ...
 $ Syst     : num [1:75] 124 119 108 116 113 NA 119 116 110 113 ...
 $ Syst2    : num [1:75] 118 112 107 126 114 NA 115 135 115 117 ...
 $ Diast    : num [1:75] 70 80 59 71 73 78 75 67 73 75 ...
 $ Diast2   : num [1:75] 73 68 65 79 78 76 77 65 74 72 ...
 $ Condition: chr [1:75] "Uninformed" "Uninformed" "Uninformed" "Uninformed" ...
 - attr(*, "spec")=
  .. cols(
  ..   Cond = col_double(),
  ..   Age = col_double(),
  ..   Wt = col_double(),
  ..   Wt2 = col_double(),
  ..   BMI = col_double(),
  ..   BMI2 = col_double(),
  ..   Fat = col_double(),
  ..   Fat2 = col_double(),
  ..   WHR = col_double(),
  ..   WHR2 = col_double(),
  ..   Syst = col_double(),
  ..   Syst2 = col_double(),
  ..   Diast = col_double(),
  ..   Diast2 = col_double(),
  ..   Condition = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

A cool thing about the ```str()``` function is that, when you're working with a complex object like a dataframe that contains many values, it'll tell you the type of the object as a whole as well as the type of every variable within it. Look at the output above - what data type is the variable "Age"? Can you find where it tells you the size of the dataframe? 

Using ```str()``` lets you summarize the information within a dataframe without opening the whole thing to view. Another way to do it, if you want to see how the dataframe is arranged, is to use the function ```head()```. This will show you just the first 6 lines of the dataframe.

In [ ]:
#run this code to see the head of the dataframe
head(mindsetmatters)

## 4.4 Accessing variables

Oftentimes we want to reference a specific variable within a dataframe. So long as a datafile was saved with the first line having the names of each variable, we can access it using the ```$``` symbol in R. If you want to specify the ```Age``` variable in the ```mindsetmatters``` dataframe, for example, you would write ```mindsetmatters$Age```. 

Try using the ```$``` symbol to print out just the variable ```Age``` from ```mindsetmatters```.

In [14]:
# Use the $ sign to print out the contents of the Age variable in the mindsetmatters dataframe

 [1] 43 42 41 40 33 24 46 21 29 19 41 33 44 48 38 42 38 46 45 35 30 38 41 54 65
[26] 58 29 45 57 61 38 53 45 62 48 50 40 32 54 24 24 52 34 28 31 29 31 34 26 37
[51] 28 44 26 29 47 27 42 39 27 NA 27 48 39 55 26 29 27 33 29 33 31 24 22 23 38

When R is asked to print out a single variable (such as ```Age```), R prints out each person’s value on the variable all in a row. You can then work with this variable as if it were a single vector, like we used in the previous chapter. Try "aging up" everyone's age by adding two years to the ```Age``` variable. (Remember that adding a constant to a vector adds that value to every item in the vector).

In [ ]:
# Add two years to the value of everyone's age in the variable Age, and print out the result

Usually you want to access variables this way - it has more meaning to humans reading code. But just so you know, you can also access variables using index notation with ```[]``` brackets. However, a dataframe has two dimensions (rows and columns), so to access data using this we have to give a number value for both which row we want, and which column we want. E.g., ```[row_num, col_num]```. 

If we want to print out the entirety of the third row from mindsetmatters, we'd use ```mindsetmatters[3,]```. Leaving nothing after the comma for column number allows R to return every value in the third row regardless of column. Likewise, returning the entirety of the third *column* from mindsetmatters would look like ```mindsetmatters[,3]```. Try it out in the code below.

In [ ]:
#Write code to return the 10th row of mindsetmatters

#Write code to return the 5th column of mindsetmatters

#What do you think this code will return?
mindsetmatters[10,5]

## 4.5 Subsetting data

Sometimes you want to focus on a subset of your variables in a data frame. For example, you might care about just the variables ```Age``` and ```Wt``` in the ```mindsetmatters``` dataframe. The output would be easier to read if it only included these variables and not all the others.

We can use the ```select()``` function from the ```dplyr``` package to look at just a subset of variables. ```dplyr``` is a very commonly-used package that makes working with dataframes easy (click [here](https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf) for a cheat sheet of many ```dplyr``` functions). When using ```select()```, we first need to tell R which dataframe, then which variables to select from that dataframe.

In [7]:
install.packages("dplyr")
library(dplyr)

#Make a prediction, what do you think this code will do? 
select(mindsetmatters, BMI, Fat)

   BMI  Fat
1  25.1 31.9
2  29.3 35.5
3  26.9 35.1
4  32.8 41.9
5  37.9 41.7
6  16.5   NA
7  27.5 36.1
8  25.9 36.4
9  27.5   NA
10 19.6 26.6
11 25.7 36.9
12 23.8 34.8
13 33.0 40.8
14 21.2 26.3
15 23.0 28.7
16 28.3 38.9
17 24.3 39.8
18 30.1 40.2
19 33.8   NA
20 23.3 34.5
21 26.1 34.5
22 34.6 44.2
23 26.3 34.2
24 28.0 36.8
25 34.2 47.3
26 29.4 39.1
27 25.6 31.0
28 30.5 40.9
29 28.9 41.2
30 25.8 38.0
⋮  ⋮    ⋮
46 27.4 38.8
47 28.0 38.1
48 26.0 38.6
49 23.2 24.5
50 26.7 28.2
51 25.3 31.8
52 27.2 38.3
53 22.6 25.3
54 25.1 34.2
55 27.3 39.2
56 23.2 28.8
57 29.0 39.8
58 26.4 38.1
59 24.6 31.7
60   NA   NA
61 22.7 33.1
62 23.0 27.8
63 34.6 47.0
64 26.8 35.2
65 22.1 25.7
66 35.9 44.4
67 27.1 38.9
68 22.6 30.3
69 27.8 39.2
70 31.6 44.0
71 24.3 32.2
72 22.5 27.7
73 25.6 34.6
74 26.8 38.1
75 24.2 29.2

You may need to scroll the output up and down to see it all. It’s quite a lot because the function ```select()``` will print out all the values of the selected variables. What the ```select()``` function actually does is return a new data frame with the selected subset of columns.

If you want to look at just a few rows of a few variables, we can combine ```head()``` and ```select()``` together in a nested function.

In [ ]:
head(select(mindsetmatters, BMI, Fat))

Nesting functions allows us to do multiple operations on one line. Nested functions always evaluate from the inside out - ```head()``` is applied to the result of ```select()```. In this case, a new dataframe is made by ```select()```, and then ```head()``` returns the first six lines of it. Technically, you can nest as many functions as you want! But it does get harder to read the deeper you go, so beware what your future self will appreciate when reading the code again later. 

The ```select()``` function lets us look at a subset of variables. But sometimes you might want to look at a subset of observations. Notice the first person in the ```mindsetmatters``` dataframe has an age of 43. Are they the only person of that age? What happens if we put 43 as an argument in ```select()```?

In [17]:
select(mindsetmatters, 43)

ERROR: Error in `select()`:
! Can't subset columns past the end.
ℹ Location 43 doesn't exist.
ℹ There are only 15 columns.

```select()``` only works on *variables* (or columns of the data frame). In this case, since you gave it the number 43 for the second argument, it thought you were asking for the 43rd column - but there aren't 43 columns in this dataset! 

To get a subset of observations (or rows of the data frame) we use a different function: ```filter()```. This function filters the dataframe to show only those observations (rows) that match some criteria. For example, here is the code that will return only the observations where the age is 43:

In [19]:
filter(mindsetmatters, Age==43)

  Cond Age Wt  Wt2   BMI  BMI2 Fat  Fat2 WHR  WHR2 Syst Syst2 Diast Diast2
1 0    43  137 137.4 25.1 25.1 31.9 32.8 0.79 0.79 124  118   70    73
  Condition
1 Uninformed

The function ```filter()```, like ```select()```, returns a dataframe. In this case, the data frame only has one row because only one person is exactly 43 years old.

In [ ]:
#How would you use filter() to return a dataframe of everyone who is *at least* 43 years old?

One challenge for students is to keep track of the difference between an observation (e.g., housekeepers, represented in rows), a variable (e.g., ```Age``` or ```Wt```, represented in columns), and the values a variable can take (e.g., 43, represented in cells). It is helpful to imagine the rows and columns of a data frame when you read about observations and variables, respectively. If the data are in a dataframe format like this (also known as "tidy"), the rows will always be observations and the columns, variables.

In this course we will be providing most of the data you analyze in a tidy format. However, the world is not always tidy. One day, in the wild world outside of this course, you may have to transform a non-tidy data set into a tidy one.

## 4.6 Manipulating data

Once data are in a tidy format, we can use R commands to manipulate the data in various ways. Let’s look at a few common things you might need to do before analyzing your data:

- Identifying Missing Data
- Filtering Data
- Creating New Variables
- Recoding Variables

### Identifying missing data

Sometimes (in fact, usually) we end up with some missing data in our data set. People don't always answer every question on a survey, someone didn't show up to their third doctor's appointment, etc. R represents missing data with the value NA (not available). It will also recode a blank cell in a file as NA. If your data set represents missing data in some other way (e.g., some people put the value -999), you should recode the values as NA when working in R.  

Let’s consider the ```Fat2``` variable in the ```mindsetmatters``` dataframe. First, we'll reshuffle the order of rows in the dataframe based on ```Fat2```, so we can better see the missing data. To do this, we'll use the ```arrange()``` function from ```dplyr```.

In [21]:
# we've already loaded dplyr into R in a previous line of this chapter, so we don't need to
# do it again

mindsetmatters <- arrange(mindsetmatters, Fat2) #remember variable names are case sensitive!
print(mindsetmatters$Fat2)

 [1] 22.7 24.1 25.3 25.4 26.4 26.6 27.0 27.0 27.6 27.7 28.0 28.9 29.1 29.3 29.3
[16] 30.5 31.6 32.1 32.1 32.1 32.8 32.9 33.0 33.0 33.6 33.9 35.0 35.0 35.2 35.4
[31] 36.3 36.4 36.7 37.1 37.3 37.3 37.5 37.6 37.9 38.5 39.0 39.1 39.7 39.9 40.4
[46] 40.4 41.1 41.2 42.4 42.6 42.8 44.1 44.7 45.0 45.6 46.7   NA   NA   NA   NA
[61]   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA

Based on this, we can easily see some missing data in this variable. We can also count how many observations have this value:

In [22]:
# the function count() in dplyr will count how many observations in a dataframe have a specific value
count(mindsetmatters, Fat2)

   Fat2 n
1  22.7  1
2  24.1  1
3  25.3  1
4  25.4  1
5  26.4  1
6  26.6  1
7  27.0  2
8  27.6  1
9  27.7  1
10 28.0  1
11 28.9  1
12 29.1  1
13 29.3  2
14 30.5  1
15 31.6  1
16 32.1  3
17 32.8  1
18 32.9  1
19 33.0  2
20 33.6  1
21 33.9  1
22 35.0  2
23 35.2  1
24 35.4  1
25 36.3  1
26 36.4  1
27 36.7  1
28 37.1  1
29 37.3  2
30 37.5  1
31 37.6  1
32 37.9  1
33 38.5  1
34 39.0  1
35 39.1  1
36 39.7  1
37 39.9  1
38 40.4  2
39 41.1  1
40 41.2  1
41 42.4  1
42 42.6  1
43 42.8  1
44 44.1  1
45 44.7  1
46 45.0  1
47 45.6  1
48 46.7  1
49   NA 19

In this dataframe, ```Fat``` is the percentage of a participant's body fat at the beginning of the study, and ```Fat2``` is the percentage at the end of the study. Use the code window below to explore whether there are any missing values for ```Fat```. Why do you think ```Fat2``` has more missing values?

In [ ]:
#Write your code here

Now that you can find missing data, the big question is - what to do about it? There is a whole area of study in quantitative psychology on what to do with missing data. This is an advanced topic, so we won't get into it in this course. Instead, in future lessons we'll tell you what actions to take for missing data, but just know that there are different opinions out there about what the *best* actions are.

### Filtering data

One of these options is to remove all the observations from a dataset that are missing data on a variable you care about. We can use the ```filter()``` function, introduced previously, to remove observations with missing data from a data frame. For example:

In [ ]:
filter(mindsetmatters, Fat2 != "NA")

Can you remember what the ```!=``` operator does? This code returns a dataframe that includes only cases for which the variable ```Fat2``` is *not* equal to NA. Note that the ```filter()``` function filters in, not out (i.e., keeps).

As with anything in R, your filtered dataframe is only temporary unless you save it to an R object. So save the data with no missing ```Fat2``` values in a new data frame called ```mindsetmatters_subset```.

In [ ]:
#Write code here to make your new dataframe mindsetmatters_subset without any NA in Fat2

What do you think would happen if we saved ```filter(mindsetmatters, Fat2 != "NA")``` to ```mindsetmatters```? If we save the filtered data to the same dataframe name, it will overwrite the original dataframe. Doing this would mean we can no longer access the data we filtered out. This process is called **destructive editing**. In general, we don't want to do this - we don't want to permanently erase any data. Thus if you're manipulating data in a dataframe, it's usually best to save the manipulated data as a new object. That way you can always access the original data again if needed.

### Creating new variables 

Often we use multiple measures of a single attribute because no single measure would be adequate. For instance, it would be difficult to measure school achievement with a grade score from just your English class. However, if you do have multiple measures, you probably will want to combine them into a single variable. In the case of school achievement, a good summary measure might be the average grade earned across all of a student’s courses.

It is quite common to create new variables that mutate values from other variables. For example, in ```mindsetmatters```, we have a measurement for both someone's weight (```Wt```)  and their BMI score (```BMI```).   We don't know their height, but BMI is a function of weight / height. So, we could divide ```Wt``` by ```BMI``` to make a new variable ```Ht```. 

Making a new variable is easy. Simply assign the computed vector to a new variable naming using the ```$``` symbol after the dataframe name. E.g., ```mindsetmatters$Ht <- mindsetmatters$Wt / mindsetmatters$BMI```. If the variable ```Ht``` already exists in the dataframe, R will overwrite it with these new values. If it doesn't, R will create a new variable and append it as a new column to the end of ```mindsetmatters```.

In [28]:
#make a new dataframe separate from the original
mindsetmatters2 <- mindsetmatters

#Look at all the variables in mindsetmatters
head(mindsetmatters)

# Create a new variable in mindsetmatters2 called Ht from Wt and BMI
mindsetmatters2$Ht <- mindsetmatters2$Wt / mindsetmatters2$BMI

#Look at the updated dataframe, and find where the new variable went
head(mindsetmatters2)

  Cond Age Wt  Wt2   BMI  BMI2 Fat  Fat2 WHR  WHR2 Syst Syst2 Diast Diast2
1 0    43  137 137.4 25.1 25.1 31.9 32.8 0.79 0.79 124  118   70    73
2 0    42  150 147.0 29.3 28.7 35.5   NA 0.81 0.81 119  112   80    68
3 0    41  124 124.8 26.9 27.0 35.1   NA 0.84 0.84 108  107   59    65
4 0    40  173 171.4 32.8 32.4 41.9 42.4 1.00 1.00 116  126   71    79
5 0    33  163 160.2 37.9 37.2 41.7   NA 0.86 0.84 113  114   73    78
6 0    24   90  91.8 16.5 16.8   NA   NA 0.73 0.73  NA   NA   78    76
  Condition
1 Uninformed
2 Uninformed
3 Uninformed
4 Uninformed
5 Uninformed
6 Uninformed

  Cond Age Wt  Wt2   BMI  BMI2 Fat  Fat2 WHR  WHR2 Syst Syst2 Diast Diast2
1 0    43  137 137.4 25.1 25.1 31.9 32.8 0.79 0.79 124  118   70    73
2 0    42  150 147.0 29.3 28.7 35.5   NA 0.81 0.81 119  112   80    68
3 0    41  124 124.8 26.9 27.0 35.1   NA 0.84 0.84 108  107   59    65
4 0    40  173 171.4 32.8 32.4 41.9 42.4 1.00 1.00 116  126   71    79
5 0    33  163 160.2 37.9 37.2 41.7   NA 0.86 0.84 113  114   73    78
6 0    24   90  91.8 16.5 16.8   NA   NA 0.73 0.73  NA   NA   78    76
  Condition  Ht
1 Uninformed 5.458167
2 Uninformed 5.119454
3 Uninformed 4.609665
4 Uninformed 5.274390
5 Uninformed 4.300792
6 Uninformed 5.454545

Whenever you make new variables, or even do anything else in R, it’s a good idea to check to make sure R did what you intended it to do. You can use the ```head()``` function for this. 

Sometimes you also might want to create a new variable that represents the data in a different way. For example, maybe in one analysis we want to look at only housekeepers that are at least 40 years old. You can make a new boolean variable that is ```true``` for everyone at least 40 years old, and ```false``` for everyone younger.

In [29]:
# making a new boolean variable to mark who is at least 40 years old
mindsetmatters2$Older <- mindsetmatters$Age >= 40
head(mindsetmatters2)

  Cond Age Wt  Wt2   BMI  BMI2 Fat  Fat2 WHR  WHR2 Syst Syst2 Diast Diast2
1 0    43  137 137.4 25.1 25.1 31.9 32.8 0.79 0.79 124  118   70    73
2 0    42  150 147.0 29.3 28.7 35.5   NA 0.81 0.81 119  112   80    68
3 0    41  124 124.8 26.9 27.0 35.1   NA 0.84 0.84 108  107   59    65
4 0    40  173 171.4 32.8 32.4 41.9 42.4 1.00 1.00 116  126   71    79
5 0    33  163 160.2 37.9 37.2 41.7   NA 0.86 0.84 113  114   73    78
6 0    24   90  91.8 16.5 16.8   NA   NA 0.73 0.73  NA   NA   78    76
  Condition  Ht       Older
1 Uninformed 5.458167  TRUE
2 Uninformed 5.119454  TRUE
3 Uninformed 4.609665  TRUE
4 Uninformed 5.274390  TRUE
5 Uninformed 4.300792 FALSE
6 Uninformed 5.454545 FALSE

In [30]:
# Use count() to find out how many people are at least 40 years old 

# Why are there three possible data values in the output, instead of just true and false?

  Older n
1 FALSE 43
2  TRUE 31
3    NA  1

In [ ]:
# Write some more code below, using filter(), to make a minsetmatters_subset dataframe of only
# participants who are at least 40 years old. Does the size of this dataframe match what you 
# expect from the code above?

Another way of creating variables, but using a function instead of the ```$``` operator, is the ```mutate()``` function from the ```dplyr``` package. When you use ```mutate()```, you need typically to specify 3 things:

- the dataframe you want to modify
- the name of the new variable that you’ll create
- the value you will assign to the new variable

Here is code that will make the same ```Ht``` variable we created earlier:

In [8]:
mindsetmatters2 <- mutate(mindsetmatters, Ht = Wt/BMI)
head(mindsetmatters2)

  Cond Age Wt  Wt2   BMI  BMI2 Fat  Fat2 WHR  WHR2 Syst Syst2 Diast Diast2
1 0    43  137 137.4 25.1 25.1 31.9 32.8 0.79 0.79 124  118   70    73
2 0    42  150 147.0 29.3 28.7 35.5   NA 0.81 0.81 119  112   80    68
3 0    41  124 124.8 26.9 27.0 35.1   NA 0.84 0.84 108  107   59    65
4 0    40  173 171.4 32.8 32.4 41.9 42.4 1.00 1.00 116  126   71    79
5 0    33  163 160.2 37.9 37.2 41.7   NA 0.86 0.84 113  114   73    78
6 0    24   90  91.8 16.5 16.8   NA   NA 0.73 0.73  NA   NA   78    76
  Condition  Ht
1 Uninformed 5.458167
2 Uninformed 5.119454
3 Uninformed 4.609665
4 Uninformed 5.274390
5 Uninformed 4.300792
6 Uninformed 5.454545

```mutate()``` – like all of the ```dplyr``` functions – strictly operates on dataframes. It’s not set up to work with lists, matrices, vectors, or other data structures. Thus this code is changing a dataset ("mutating" it) to have a new variable. The first argument is the dataframe to mutate, and the second argument is called a "name-value pair". ```Ht``` is not a pre-defined argument in the ```mutate()``` function, but is a "name" you are choosing to which you assign a new "value."

### Recoding variables

There are some instances where you may want to change the way a variable is coded. For instance, the variable ```Cond``` is coded 1 for if a housekeeper was in the experimental condition (told that they are getting enough exercise), or the control condition (not told anything). Recall the ```factor()``` function we learned last chapter, and turn this variable into a factor in ```mindsetmatters2```.

In [31]:
#Identify the data type of Cond
str(mindsetmatters2)

#Recode Cond into a factor, and save it over the original Cond variable


#Identify the data type of Cond again. Did it change?
str(mindsetmatters2)

spec_tbl_df [75 × 17] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Cond     : num [1:75] 0 0 0 0 0 0 0 0 0 0 ...
 $ Age      : num [1:75] 43 42 41 40 33 24 46 21 29 19 ...
 $ Wt       : num [1:75] 137 150 124 173 163 90 150 156 141 123 ...
 $ Wt2      : num [1:75] 137 147 125 171 160 ...
 $ BMI      : num [1:75] 25.1 29.3 26.9 32.8 37.9 16.5 27.5 25.9 27.5 19.6 ...
 $ BMI2     : num [1:75] 25.1 28.7 27 32.4 37.2 16.8 27.4 25.7 27.4 19.7 ...
 $ Fat      : num [1:75] 31.9 35.5 35.1 41.9 41.7 NA 36.1 36.4 NA 26.6 ...
 $ Fat2     : num [1:75] 32.8 NA NA 42.4 NA NA 37.3 NA NA NA ...
 $ WHR      : num [1:75] 0.79 0.81 0.84 1 0.86 0.73 0.9 0.78 0.87 0.69 ...
 $ WHR2     : num [1:75] 0.79 0.81 0.84 1 0.84 0.73 0.9 0.78 0.85 0.69 ...
 $ Syst     : num [1:75] 124 119 108 116 113 NA 119 116 110 113 ...
 $ Syst2    : num [1:75] 118 112 107 126 114 NA 115 135 115 117 ...
 $ Diast    : num [1:75] 70 80 59 71 73 78 75 67 73 75 ...
 $ Diast2   : num [1:75] 73 68 65 79 78 76 77 65 74 72 ...
 $ Condition: chr [1:75] "Uninformed" "Uninformed" "Uninformed" "Uninformed" ...
 $ Ht       : num [1:75] 5.46 5.12 4.61 5.27 4.3 ...
 $ Older    : logi [1:75] TRUE TRUE TRUE TRUE FALSE FALSE ...
 - attr(*, "spec")=
  .. cols(
  ..   Cond = col_double(),
  ..   Age = col_double(),
  ..   Wt = col_double(),
  ..   Wt2 = col_double(),
  ..   BMI = col_double(),
  ..   BMI2 = col_double(),
  ..   Fat = col_double(),
  ..   Fat2 = col_double(),
  ..   WHR = col_double(),
  ..   WHR2 = col_double(),
  ..   Syst = col_double(),
  ..   Syst2 = col_double(),
  ..   Diast = col_double(),
  ..   Diast2 = col_double(),
  ..   Condition = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

Remember that some functions take multiple arguments (such as the dataframe and the variable name), or one argument (just the variable, accessed with ```$```). This means you'll have to remember how functions work, or keep a cheatsheet you can refer back to. 

What if you don't want to change only the data type, but also the values in a variable? We learned last chapter that the function ```factor()``` can do this with its ```levels``` and ```labels``` arguments. Another way to do it is using the function ```recode()``` like this:

```recode(mindsetmatters2$Cond, "1"="exp", "0"="control")```

In R, there are often multiple ways to do the same thing! In the ```recode()``` function, you need to put the old value in quotes; the new variable could be in quotes (if a character value) or not (if numerical). This function also uses the ```=``` assignment operator instead of ```<-```. This is just for telling R a momentary command inside an argument - you're not permanently assigning 1 to have the value of "exp". Keep using ```<-``` for assigning objects that stick around.

As always, whenever we do anything, we might want to save it. Try saving the recoded version of ```Cond``` as ```CondRecode```, a new variable in ```mindsetmatters2```. Print a few observations of ```Cond``` and ```CondRecode``` to check that your recode worked.

In [ ]:
# Save the recoded version of `Cond` to `CondRecode`
mindsetmatters2$CondRecode <- recode(     )

# Write code to print the first 6 observations of `Cond` and `CondRecode` only

## Chapter summary

After reading this chapter, you should be able to:

- load a dataset into R
- Explain what the rows and columns of a dataframe mean
- Access particular variables in a dataframe
- Use select() and filter() to subset a dataframe
- Identify missing data
- Create and add a new variable to a dataframe
- Recode a variable
- Explain why we don't want to do destructive editing

## Chapter quiz

Questions from 2.7 coursekata